.SelectedWeekExample .DayPicker-Month {
    border-collapse: separate;
}
.SelectedWeekExample .DayPicker-WeekNumber {
    outline: none;
}
.SelectedWeekExample .DayPicker-Day {
    outline: none;
    border: 1px solid transparent;
}
.SelectedWeekExample .DayPicker-Day--hoverRange {
    background-color: #EFEFEF !important;
}

.SelectedWeekExample .DayPicker-Day--selectedRange {
    background-color: rgba(214, 238, 169, 0.82) !important;
    border-top-color: #eae9e5;
    border-bottom-color: #eae9e5;
    border-left-color: #eae9e5;
    border-right-color: #eae9e5;
}

.SelectedWeekExample .DayPicker-Day--selectedRangeStart {
    background-color: rgb(174, 204, 119) !important;
    border-left: 1px solid #eae9e5;
}

.SelectedWeekExample .DayPicker-Day--selectedRangeEnd {
    background-color: rgb(174, 204, 119) !important;
    border-right: 1px solid #eae9e5;
}

.SelectedWeekExample .DayPicker-Day--selectedRange:not(.DayPicker-Day--outside).DayPicker-Day--selected,
.SelectedWeekExample .DayPicker-Day--hoverRange:not(.DayPicker-Day--outside).DayPicker-Day--selected {
    border-radius: 12% !important;
    color: black !important;
}
.SelectedWeekExample .DayPicker-Day--hoverRange:hover {
    border-radius: 0 !important;
}

.myChart{
    margin-right: 0;
}