#loginWrapper {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../../assets/register_background.png");
    display: flex;
    width: 100vw;
    height: 100vh;
}